@charset "UTF-8";

:root {
    /* Primary */
    --desaturared-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);

    /* Neutral */
    --dark-grayish-red: hsl(0, 6%, 24%);

    /* Gradients */
    /* - Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%) 
    - Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%) */
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    line-height: calc(1em + 0.5rem);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: Josefin sans, sans-serif;
    font-size: 1rem;
    background-image: url(images/bg-pattern-desktop.svg);
}

p {
    font-weight: 500;
}

.container {
    max-width: 400px;
    margin: auto;
}


.logo {
    padding: 20px;
}

.hero img {
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}


h1 {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5rem;
    margin-bottom: 10px;
    max-width: 240px;
}


.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin-top: 20px;
    border-radius: 30px;
    padding-left: 20px;
    height: 48px;
    border: 1px solid hsl(0, 36%, 70%);
}

#input-box {
    border: none;
    background: transparent;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    width: 70%;
    color: rgb(93, 93, 93);
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-image: linear-gradient(135deg, hsl(0, 100%, 85%), hsl(0, 41%, 67%));
    color: white;
    height: 48px;
    padding: 0px 30px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
}

.attribution { font-size: 1rem; text-align: center; max-width: 400px;}
.attribution a { color: hsl(228, 45%, 44%); }